@{
    ViewBag.Title = "About";
}

<h2>About Us</h2>
<h1 style="text-align: center;">A.P. Moller - Maersk</h1>
<br />
<br />
<p>
    A.P. Moller - Maersk is an integrated transport & logistics
    company with multiple brands and is a global leader
    in container shipping and ports. Including a stand-alone
    Energy division, the company employs roughly 88,000 employees
    across operations in 130 countries.
</p>
<br />
<br />

<h1 style="text-align: center;">Transport & Logistics</h1>
<br />
<br />
<p>
    Transport & Logistics consists of Maersk Line,
    APM Terminals, Damco, Svitzer and Maersk Container Industry.
    The mission of these businesses is to enable and facilitate
    global supply chains and provide opportunities for our customers
    to trade globally. Søren Skou, the Group CEO of A.P. Møller -
    Mærsk A/S is also the CEO of the Transport & Logistics division.
</p>
<br />
<br />
<h1 style="text-align: center">Energy</h1>
<br />
<br />
<p>
    Energy consists of Maersk Oil, Maersk Drilling, Maersk Supply Service and
    Maersk Tankers. Claus V. Hemmingsen,
    the Group Vice CEO of A.P. Møller - Mærsk A/S is also CEO for the Energy division.
</p>
