@{
    ViewBag.Title = "Contact";
}

<h2>Contact Us</h2>
<h1 style="text-align: center;">Contact the Maersk Group</h1>
<address style="text-align:center;">
    The Maersk Group<br>
    Esplanaden 50<br>
    1098 Copenhagen K<br>
    Denmark<br>
    <br>
    <strong>Telephone</strong><br>
    +45 33 63 33 63<br>
    <br>
    <strong>Telefax</strong><br>
    +45 33 63 30 03<br>
    <br>
    <br>
</address>

<address style="text-align:center;">
    <strong>Support:</strong>   <a href="mailto:support@maersk.com">support@maersk.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:marketing@maersk.com">marketing@maersk.com</a>
</address>