
@{
    ViewBag.Title = "Update Vessel";
}

<h2>Update Vessel</h2>

<br />
<div class="form-group">
    <label ID="Label1"  Font-Size="10pt">Vessel Name :</label>
    <input type="text" ID="vesselName"  CssClass="form-control"><br />

    <label  ID="Label2"   Font-Size="10pt">Number of Containers : </label>
    <input type="text" ID="containers"  CssClass="form-control"><br />

    <label  ID="Label3"  Font-Size="10pt">Departure Yard : </label>
    <select><option value="volvo">Put data here</option></select><br />

        <label ID="Label4" Font-Size="10pt">Arrival Yard : </label>
        <select><option value="">Put data here</option></select><br />
        <br />

        <button type="submit" ID="vesselUpdate" CssClass="btn btn-primary">Update</button>
        <span></span>
        <button type="submit" ID="vesselDelete" CssClass="btn btn-danger">Delete</button>
</div>